<h2>ADD MAILBOX</h2>
<form action="/mailboxes" method="post">
    <label for="name">Ime:</label>
    <input type="text" id="name" name="name" required>
    <label for="address">Naslov:</label>
    <input type="text" id="address" name="address" required>
    <label for="city">Mesto:</label>
    <input type="text" id="city" name="city" required>
    <label for="zip">Poštna številka:</label>
    <input type="text" id="zip" name="zip" required>
    <label for="country">Država:</label>
    <input type="text" id="country" name="country" required>
    <button type="submit">Ustvari</button>
</form>