<h2>ADD MAILBOX</h2>
<form action="/mailboxes" method="post">
    <label>Location: </label>
    <input type="text" id="location" name="location" placeholder="Location" required>
    <br>
    <label>Select size: </label>
    <input type="radio" id="size" name="size" value="Small" required>
    <label>Small</label>
    <input type="radio" id="size" name="size" value="Medium" required>
    <label>Medium</label>
    <input type="radio" id="size" name="size" value="Large" required>
    <label>Large</label>
    <br>
    <label>Owner: user</label>
    <br>
    <label>Access Code:</label>
    <input type="url" id="accessCode" name="accessCode" placeholder="URL" required>
    <br>
    <br>
    <button type="submit">Ustvari</button>
</form>